.env
test.sh
/workspace/.ipynb_checkpoints
/workspace/practice

prefect/flows/__pycache__
prefect/flows/Ingest_Mongodb/__pycache__
prefect/flows/ELT_pipeline/__pycache__
prefect/flows/resources/__pycache__

dremio_data/
